*{
    margin: 0;
    padding: 0;
}
body{
    background-color :#548687;
    text-align: center;

}
.container{
    display: flex;
    height: 78vh;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /* flex takes all boxes in same line */
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,8.3);
    font-size: 8vmin;
    color:#b0413e ;
    background-color:#ffffc7;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;


}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffff;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;

}
.msg-container{
    height: 30vmin;

}
.hide{
    display: none;
}